@import "mytheme.scss";
@import "addons.scss";
@import "views/login.scss";
@import "common";
@import "views/dashboardview";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
    @include valo;
  @include dashboard-common;
  @include dashboard-login-view;
  @include dashboard-dashboard-view;

  // Insert your own theme rules here
  .v-grid-table {
      .v-grid-column-header-content {
          font-size: 12px;
      }
      .v-grid-row > td {
          /*ine-height : 15px; */
      }
  }

    .table-padding {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .toolbar-margin {
        padding-left: 30px;
    }

}

.v-grid-row.error-row > td {
          background-color: orange;
}

.valo-menu-part {
    background-color: #414B56;
}
